.body {
    margin: 0;
    padding: 0;
}

.board {

    margin: 0;
    padding-top: 25px;
    padding-left: 25px;
    width: 600px;
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.black {
    position: relative;
    width: 12.5%;
    height: 12.5%;
    background-color: black;
    color: red;
}

.white {
    position: relative;
    width: 12.5%;
    height: 12.5%;
    background-color: white;
    color: red;
}

.num {
    position: absolute;
    right: 35px;
    top: -25px
}

.let {
    position: absolute;
    right: 88px;
    top: 25px;
}

.catalog {
    margin: 0 auto;
    width: 1400px;
    display: flex;
    flex-wrap: wrap;
}

.card {
    width: 28%;
    margin-right: 20px;
    margin-left: 20px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;

}

.card_butt {
    width: 140px;
    height: 35px;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-top: 10px;
}



.card_name {
    font-size: 35px;
    margin-top: 10px;
    margin-left: 40px;
}

.card_style {
    margin-top: 10px;
    margin-left: 20px;
    padding-right: 10px;
}


.modal-window {
    opacity: 0;
    z-index: -1;
    position: absolute;
    max-height: 1100px;

    top: 15%;
    left: 25%;

}

.open {
    opacity: 1;
    z-index: 666;
}

.slider_next {
    position: absolute;
    right: 0px;
    top: 50%;
    width: 50px;
    height: 50px;
    background-color: rgb(177, 170, 170);
    border-radius: 50%;

}

.slider_prev {
    position: absolute;
    left: 0px;
    top: 50%;
    width: 50px;
    height: 50px;
    background-color: rgb(177, 170, 170);
    border-radius: 50%;


}

.close {
    display: none;
}

#popup {
    display: none;
    position: absolute;
    left: 30%;
    top: 10%;
    width: 600px;
    height: 500px;
    background-color: grey;
}

#section-1 {
    display: block;
}

#section-2 {
    display: none;
}

#section-3 {
    display: none;
}